<h1>Setting</h1>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">



   </head>

	<body>

		<%= render "header2" %>



    <%= form_for @user do |f| %>
      <p>
        <%= f.label :name, "Username" %><br>
        <%= f.text_field :name %>
      </p>
      <p>
        <%= f.label :email %><br>
        <%= f.text_field :email %>
      </p>
      <p>
        <%= f.label :password, "New password" %><br>
        <%= f.text_field :password %>
      </p>
       <%= f.submit "Update" %>
          
    <% end %>
  </body>
</html>

